<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.ContentSearch.Spatial.DataTypes.CustomControls" assembly="Sitecore.ContentSearch.Spatial.DataTypes" prefix="customfields" />
    </controlSources>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap>
            <typeMatches>
              <typeMatch typeName="geoLocation" type="Sitecore.ContentSearch.Spatial.DataTypes.SpatialPoint, Sitecore.ContentSearch.Spatial.DataTypes" fieldNameFormat="{0}_rpt" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </typeMatches>
            <fieldTypes>
              <fieldType fieldTypeName="latlon" returnType="geoLocation" />
            </fieldTypes>
          </fieldMap>
          <fieldReaders>
            <mapFieldByTypeName>
              <fieldReader fieldTypeName="latlon" fieldReaderType="Sitecore.ContentSearch.Spatial.DataTypes.FieldReaders.SpatialPointFieldReader, Sitecore.ContentSearch.Spatial.DataTypes" />
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
